/* Specific section and component styling */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 20px;

  position: sticky;
  top: 0;
  z-index: 50;

  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.8);
}

.hero {
  height: 100%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: flex;
  align-items: center;
}

.hero__description {
  flex: 1;
  color: white;
  font-size: 150px;
  line-height: 0.85;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-image-container {
  background-color: #d1d1d1;
  border-radius: 10px;
  flex: 1;
  margin: 5px;
}

.hero__name {
  padding-left: 20px;
}
