@import "tailwindcss";

:root {
  --background: #35384b;
  --foreground: hsl(0, 0%, 9%);
  --accent: #FFD5C2;
}

@theme {
  --font-satoshi: var(--font-satoshi);
}

/* optional: a convenience class */
.font-satoshi {
  font-family: var(--font-satoshi), system-ui, sans-serif;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.hero-container__description {
  flex: 1;
      color: white;
    font-size: 150px;
    line-height: 0.85;
}
.personal-image-container {
  background-color: #d1d1d1;
  border-radius: 10px;
  flex: 1;
  margin: 5px;

}

.hero-container__name {
      display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding-left: 20px;
}

.accent-comp {
  min-height: 100vh;
}
